.App {
  text-align: center;
}

#artist {
  margin-right: 20px;
  font-size: 20px;
}

.artist-search {
  margin-bottom: 20px;
}

#title {
  margin-right: 20px;
  font-size: 20px
}

.title-search {
  margin-bottom: 20px;
}

#artist-input {
  width: auto;
}

#title-input {
  width: auto;
}

.lyrics {
  margin: 15px 15px 15px 15px;
}

h1 {
  font-family: 'Skranji', cursive;
}
